<h2>Sign up</h2>

<%= form_for(resource, :html => { :class => "form-signin" }, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>



    <%= f.email_field :email, autofocus: true, :class => "form-control" , :placeholder => "Email address"  %>




    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :class => "form-control" , :placeholder => "Password"  %>

</br>


    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" , :placeholder => "Password Again"  %>

</br>

    <%= f.submit "Sign up", :class => "btn btn-lg btn-success btn-block"  %>

<% end %>

<%= render "devise/shared/links" %>
