





<!-- Intro Header -->
<header class="text-center" id="topboy">
  <div  class="jumbotron">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

    <h1 style="color: white;">Welcome</h1>
    <a href="#start_about" class="btn btn-circle page-scroll">
      <i class="fa fa-angle-double-down animated"></i>
    </a>

      </div>
    </div>
  </div>








</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div id="start_about" style ="padding-top: 30px;"></div>

  <div style="padding-bottom: 30px;"></div>
  <a href="#body_top" class="btn btn-circle2 page-scroll">
    <i  class="fa fa-angle-up animated"></i>
  </a>

  <div style="padding-bottom: 30px;"></div>




  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About Panoply</h2>
       <p class="lead">At Panoply Dispensary, we do business a little bit differently. We are proud to be Charlotte’s premiere non-profit, fair trade shop. We go out of our way to source products and curate a collection that does as little harm as possible - to people, communities, and the environment. All of the products we sell are fair trade, eco-friendly, or carry a social mission. They are made by skilled artisans from as far away as Tunisia and as close to home as North Davidson. Each product carries a story, of the artisan who lovingly made it, the community where the materials originated, or the centuries-old methods used to produce it. We invite you to browse our site or stop in to our shop based right in the middle of the city in Charlotte, and learn more about the story behind each product we carry.</p>
      <a href="#start_products" class="btn btn-circle2 page-scroll">
        <i class="fa fa-angle-down animated"></i>
      </a>
    </div>
  </div>
</section>

<section id="products" class="container content-section text-center" >
  <div id="start_products" style ="padding-top: 30px;"></div>
  <a href="#start_about" class="btn btn-circle2 page-scroll">
    <i  class="fa fa-angle-up animated"></i>
  </a>

  <div style="padding-bottom: 30px;"></div>


  <div class="row">
    <div class="col-lg-12">

      <h1>What do we offer?</h1>
      <h3 class="lead"> The international garment industry is well known for worker exploitation. Our fair trade clothing is sweatshop-free and certified no-child labor. Much of our collection is made of organic clothing, or recycled fabrics. Upgrade your already chic style to eco fashion and show the world how fair trade clothes can be beautiful and sustainable.
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-2">
      <a href="<%=categorical_path(cat_id: 1)%>" class="thumbnail">
        <img src="https://img0.etsystatic.com/101/1/8825589/il_340x270.844735296_92ld.jpg" alt="...">
        <p>Pants</p>
      </a>
    </div>
    <div class="col-xs-6 col-md-2">
      <a href="<%=categorical_path(cat_id: 2)%>" class="thumbnail">
        <img src="http://ak1.ostkcdn.com/images/products/is/images/direct/7223c8aee92cdf650b86163584d3a62a8a8617b4/Women-Short-Sleeve-Comfy-Loose-Fit-Long-Tunic-Top.jpg" alt="...">
        <p>Tops</p>
      </a>
    </div>
    <div class="col-xs-6 col-md-2">
      <a href="<%=categorical_path(cat_id: 3)%>" class="thumbnail">
        <img src="https://media.gucci.com/style/White_South_0_160_316x316/1439376067/200035_FFKPG_9791_002_100_0000_Light-Original-GG-canvas-baseball-hat-with-Web.jpg" alt="...">
        <p>Hats</p>
      </a>
    </div>


    <div class="col-xs-6 col-md-2">
      <a href="<%=categorical_path(cat_id: 4)%>" class="thumbnail">
        <img src="https://s-media-cache-ak0.pinimg.com/originals/9d/67/95/9d6795cfb028d24718a477a7e552b7c2.jpg" alt="...">
        <p>Shoes</p>
      </a>
    </div>
    <div class="col-xs-6 col-md-2">
      <a href="<%=categorical_path(cat_id: 5)%>" class="thumbnail">
        <img src="http://scene7.zumiez.com/is/image/zumiez/cat_max/Ray-Ban-Justin-Sunglasses-_247488.jpg" alt="...">
        <p>Accessories</p>
      </a>
    </div>
    <div class="col-xs-6 col-md-2">
      <a href="<%=categorical_path(cat_id: 6)%>" class="thumbnail">
        <img src="https://images.anthropologie.com/is/image/Anthropologie/30571251_040_b10?$a15-pdp-detail-shot$&hei=900&fit=constrain" alt="...">
        <p>Other</p>
      </a>

    </div>
    <a href="#start" class="btn btn-circle2 page-scroll">
      <i class="fa fa-angle-down animated"></i>
    </a>

  </div>
</section>


<!-- Contact Section -->
<section id="contact" class="container content-section text-center" >
  <div>

  <a href="#start_products" class="btn btn-circle2 page-scroll">
    <i class="fa fa-angle-up animated"></i>
  </a>
    <div style="padding-bottom: 30px;"></div>
  </div>
  <div id="start" class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Got Questions? Contact Us!</h2>

      <h4 class="lead">Panoply Dispensary showcases a curated selection of fair trade, eco-friendly and local social enterprise products. Located in right in the middle of the city in Charlotte, browse modern jewelry, organic clothing and handmade home goods. Our high quality contemporary products are perfect for gifts and personal shopping.
        Panoply Dispensary is a non-profit boutique with a big mission. In choosing products, we are mindful of the entire production process -- the resources used to make then, the wages paid to the artisans and the overall environmental impact. Everything we carry has a story, come learn more today!
      </h4>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#terms" >Terms of Serivce</button>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#warranty" >Warranty Info</button>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#shipping" >Shipping</button>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#FAQ" >FAQ</button>
    </div>
  </div>
</section>

 <!--Modal Terms of Service-->
<div id ="terms"class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Terms of Serivce</h4>
      </div>

      <div class="modal-body">
      <p class="lead well">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum ligula sed diam blandit pharetra. Nam et volutpat dui. Aliquam id mattis sapien, vitae auctor odio. Ut pharetra erat non tempus ultrices. Aenean ornare, urna ac cursus suscipit, ligula felis iaculis turpis, at condimentum libero urna in nisl. Integer dignissim vitae justo eu maximus. Donec pharetra, nulla ac facilisis aliquet, risus orci ultrices nibh, sed posuere tellus nisl vel ligula. Nam augue quam, feugiat quis vulputate eget, viverra nec nunc. Proin ut feugiat arcu. Maecenas tincidunt dolor dolor, et auctor lacus tincidunt ut.
        In accumsan vulputate ante in eleifend. Cras nec euismod felis.
      </p></div>
      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>

<!--Modal Warrenty Info -->
<div id = "warranty" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Warranty Info</h4>
      </div>

      <div class="modal-body"> </div>

      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>
<!--Modals -->
<div id = "shipping" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Shipping</h4>
      </div>

      <div class="modal-body"> </div>

      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>
<!--Modals -->


<!--Modals -->
<div id = "FAQ" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">FAQ</h4>
      </div>

      <div class="modal-body"> </div>

      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>
<!--Modals -->